<div>
    <br>
    <mat-card>
        <section class="mat-typography">
            <h3>Update contact</h3>
        </section>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="updateForm" class="update-form">
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Contact name" formControlName="name" #name>
                <mat-error>
                    Please provide name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Contact last name" formControlName="lastName" #lastName>
                <mat-error>
                    Please provide last name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Contact phone number" formControlName="phone" #phone>
                <mat-error>
                    Please provide phone with the correct pattern e.g. +32 04 123456.
                </mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>
            <div class="alignRight">
                <button mat-raised-button color="accent" [routerLink]="['/home']">Return</button>
                <button type="submit" 
                        (click)="updateContact(name.value, lastName.value, phone.value)" 
                        [disabled]="updateForm.pristine || updateForm.invalid"
                        mat-raised-button color="primary"
                        class="updateButton"
                >Update</button>
            </div>
        </form>
    </mat-card>
</div>